
<mat-toolbar>
  <span style="color:#b82228">AASLIN</span>
  <div class="property1">
    <a mat-button href="#card" target="text-decoration:none">Home</a>
    <a mat-button href="#aboutus" target="text-decoration:none">About Us</a>
    <a mat-button href="#service" target="text-decoration:none">Services</a>
    <a mat-button href="#team" target="text-decoration:none">Team</a>
    <a mat-button href="#careers" target="text-decoration:none">Careers</a>
    <a mat-button href="#WhyUs" target="text-decoration:none">Why Us</a>
    <a mat-button href="#contacts" target="text-decoration:none">Contacts</a>
    <a mat-raised-button routerLink="/Register" routerLinkActive="active-link">Register</a>
  </div>
</mat-toolbar>

<div id="aboutus" class="property2">
    <h1 style="color:#b82228">About Us</h1><br>
    <p>{{AboutUs}}</p>
</div>

<div id="service" class="property2">
  <h1 style="color:#b82228">Services we provide</h1><br>
<div class="carousel-container">
  <button mat-icon-button (click)="prevSlide()" class="nav-button">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="cards-wrapper">
    <div class="cards" [style.transform]="'translateX(' + currentPosition + 'px)'">
    <mat-card class="card" appearance="outlined">
    <img class="ig"  mat-card-md-image src="https://media.geeksforgeeks.org/img-practice/prod/courses/227/Web/Other/Course_Backend_png_1720846964.png"  alt="Backend development">
    <mat-card-header>
      <mat-card-title>Backend Development</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{backend}}
    </mat-card-content>
    </mat-card>

  <mat-card class="card" appearance="outlined">
    <img class="ig"  mat-card-md-image src="https://media.geeksforgeeks.org/img-practice/prod/courses/227/Web/Other/Course_Backend_png_1720846964.png"  alt="Backend development">
    <mat-card-header>
      <mat-card-title>Frontend Development</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{frontend}}
    </mat-card-content>
  </mat-card>

<mat-card class="card" appearance="outlined">
  <img class="ig"  mat-card-md-image src="https://media.geeksforgeeks.org/img-practice/prod/courses/227/Web/Other/Course_Backend_png_1720846964.png"  alt="Backend development">
  <mat-card-header>
    <mat-card-title>FullStack Development</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{backend}}
  </mat-card-content>
</mat-card>
</div>
</div>
  <button mat-icon-button (click)="nextSlide()" class="nav-button">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
</div>

<div id="team" class="property2">
  <h1 style="color:#b82228">Meet Our Team</h1><br>
  <p>{{AboutUs}}</p>
  <h2 style="color:#b82228">People we work with</h2>
  <img src="/PanUnited.png">
</div>

<div id="careers" class="property2">
  <h1 style="color:#b82228">Careers</h1><br>
  <p>{{AboutUs}}{{AboutUs}}{{AboutUs}}{{AboutUs}}</p>
  <pre></pre>
    <button mat-raised-button>
      Explore Now <mat-icon>arrow_forward</mat-icon>
    </button>
</div>

<div id="WhyUs" class="property2">
  <h1 style="color:#b82228">WhyUs</h1><br>
  <p>{{AboutUs}}</p>
</div>

<div id="contacts" class="property3">
  <h1 style="color:#b82228">Get in Touch</h1><br>
  <div class="get-contact">
  <form [formGroup]="nestedform" (ngSubmit)="onSubmit()">
    <h2 style="color:#b82228">Contact Form</h2>
    <div id="contacts" class="left">
    <label style="text-align:left" for="firstName">Name</label><br>
    <input id="firstName" type="text" formControlName="firstName">
    <div *ngIf="nestedform.get('firstName')?.invalid && nestedform.get('firstName')?.touched" class="error">
      Name is required.
    </div><br>

    <label style="text-align:left" for="email">Email</label><br>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="nestedform.get('email')?.invalid && nestedform.get('email')?.touched" class="error">
      <span *ngIf="nestedform.get('email')?.errors?.['required']">Email is required.</span>
      <span *ngIf="nestedform.get('email')?.errors?.['email']">Invalid email format.</span>
    </div><br>

    <label style="text-align:left" for="subject">Subject</label><br>
    <input id="subject" type="text" formControlName="subject"><br>
    <div *ngIf="nestedform.get('firstName')?.invalid && nestedform.get('subject')?.touched" class="error">
      Subject is required.
    </div>

    <label style="text-align:left" for="message">Message</label><br>
    <textarea id="message" formControlName="message" rows="4" cols="35"></textarea>
    <div *ngIf="nestedform.get('firstName')?.invalid && nestedform.get('message')?.touched" class="error">
      Message is required.
    </div><br>
  <button type="Submit">Send Message</button>
  </div>
</form>
</div>

<div class="get-company">
  <h2 style="color:#b82228">Company</h2>
  <ul>
    <li><a href="#aboutus">About Us</a></li>
    <li><a href="#service">Service</a></li>
    <li><a href="#team">Teams</a></li>
    <li><a href="#careers">Careers</a></li>
    <li><a href="#WhyUs">Why Us</a></li>
  </ul>
</div>

<h2 style="color:#b82228">Address</h2>
<div class="get-address">
  <p>AASLIN Technologies Private Limited<br>
Plot No. 4-51-7, 2nd & 3rd Floor,<br>
Pavan Adithya, Post officeRd.,<br>
Lawsons bay colony, Pedda Waltair,<br>
Visakhapatnam - 530017</p>
</div>
</div>


























