<form [formGroup]="nestedform" (ngSubmit)="onSubmit()">
    <div id="contacts" class="left">
    <label for="firstName">Name</label><br>
    <input id="firstName" type="text" formControlName="firstName">
    <div *ngIf="nestedform.get('firstName')?.invalid && nestedform.get('firstName')?.touched" class="error">
      Name is required.
    </div><br>

    <label for="email">Email</label><br>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="nestedform.get('email')?.invalid && nestedform.get('email')?.touched" class="error">
      <span *ngIf="nestedform.get('email')?.errors?.['required']">Email is required.</span>
      <span *ngIf="nestedform.get('email')?.errors?.['email']">Invalid email format.</span>
    </div><br>

    <label for="subject">Subject</label><br>
    <input id="subject" type="text" formControlName="subject"><br>
    <div *ngIf="nestedform.get('firstName')?.invalid && nestedform.get('subject')?.touched" class="error">
      Subject is required.
    </div>

    <label for="message">Message</label><br>
    <textarea id="message" formControlName="message" rows="4" cols="35"></textarea>
    <div *ngIf="nestedform.get('firstName')?.invalid && nestedform.get('message')?.touched" class="error">
      Message is required.
    </div><br>
  <button type="Submit">Send Message</button>
  </div>
</form>